.page {

  --main-bg-color: #EEEEEE;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100svw;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  font-family: var(--font-geist-sans);
  padding: 0px 16px;
}

.main {

  --component-bg-color: #FFFFFF;
  --component-border-color: #CCCCCC;

  width: 820px;
  min-height: 396px;
  border-radius: 8px;
  background-color: var(--component-bg-color);
  border: 1px solid var(--component-border-color);
  padding: 16px;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }
}